*{
    background-color: wheat;
}
.MemoryGame{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 22%);
    gap: 10px;
    margin-top: 5%;
}
img{
    height: 220px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
}
